* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  background-color: hsl(233, 47%, 7%);
}

.container {
  background-color: hsl(244, 38%, 16%);
  display: grid;
}

.pic {
  height: 100%;
  background-color: hsl(277, 64%, 61%);
  opacity: 0.20;
}

.pic img {
  mix-blend-mode: overlay;
  /* IMAGE WAS 5px SHORTER SO 100% HEIGHT */
  height: 100%;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: hsl(0, 0%, 100%); /* White */
}

.insights {
  color: hsl(277, 64%, 61%); /* Soft Violet */
}

.main_paragraph {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0rem 3rem 0rem 4rem;
  line-height: 1.5;
  color: hsla(0, 0%, 100%, 0.75); /* Slightly Transparent White */
}

.stats {
  color: hsl(0, 0%, 100%); /* White */
  display: grid;
}

.stat_heading1,
.stat_heading2,
.stat_heading3 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 200%;
  color: hsla(0, 0%, 100%, 0.6); /* Slightly transparent white */
}

.companies,
.templates,
.queries {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  color: hsl(0, 0%, 100%); /* White */
}

.attribution {
  color: white;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width:375px) /* Mobile Version */ {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; 
    border-radius: 5px 5px 0 0;
    margin: 100px auto;
  }

  .pic {
    grid-row: 1 / 1;
    border-radius: 5px 5px 0 0;
    margin: auto;
    height: fit-content;
    width: fit-content;
  }

  .pic img {
    border-radius: 5px 5px 0 0;
  }
 
  h1 {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    text-align: center;
    margin: 2rem 10rem;
    }

  .main_paragraph {
    grid-column: 1 / 1;
    grid-row: 3 / 3;
    text-align: center;
    margin: 1rem 8rem;
  }

  .stats {
    margin: auto;
    grid-column: 1 / 1;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .companies {
    margin: auto;
    grid-row: 1 / 1;
    grid-template-rows: 1fr 1fr;
    text-align: center;
  }
  .stat_heading1 {
    grid-row: 1 / 1;
  }

  .templates {
    margin: auto;
    grid-row: 2 / 2;
    grid-template-rows: 1fr 1fr;
    text-align: center;
  }
  .stat_heading2 {
    grid-row: 1 / 1;
  }

  .queries {
    margin: auto;
    grid-row: 3 / 3;
    grid-template-rows: 1fr 1fr;
    text-align: center;
  }

  .stat_heading3 {
    grid-row: 1 / 1;
  }
}

@media screen and (min-width: 1025px) /* Desktop Version */ {
  .container {
    /* USE THIS TO CENTER-ALIGN THE CONTAINER */
    margin: 100px auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 5px 0 0 5px;
    /* KEEP THE WIDTH STATIC INSTEAD OF APPLYING DYNAMIC MARGINS */
    width: 1090px;
  }

  .description {
    margin: 0rem 1rem;
    grid-column: 1 / 1;
    grid-row: 1 / 4;
  }

  .main_paragraph {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
  }

  .pic {
    grid-column: 2 / 2;
    grid-row: 1 / 4;
    border-radius: 0 5px 5px 0;
    width: 545px;
  }

  .pic img {
    border-radius: 0 5px 5px 0;
  }

  h1 {
    padding: 4rem 4rem 2.75rem 4rem;
    text-align: left;
  }

  .stats {
    margin: 4.267rem 1.067rem;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .companies,
  .templates,
  .queries {
    margin: auto 3rem;
    line-height: 1.75;
  }

  .companies {
    margin: 0rem 2rem 0rem 2.933rem;
    grid-column: 1 / 1;
    grid-row: 1 / 1;    

  }

  .templates {
    margin: 0rem 2.933rem 0rem 2rem;
    grid-column: 2 / 2;
    grid-row: 1 / 1;    

  }

  .queries {
    margin: 0rem 4rem 0rem 2rem;
    grid-column: 3 / 3;
    grid-row: 1 / 1;    
  }
}

